= haml :nav, :layout => false
- column_names = ['name', 'updated_at','feeds', '&nbsp;']

%div.container
  %ul.breadcrumb
    %li.active
      %a{:href => "#fakelink"} Users
      
  %table.table.table-striped
    %tr
    - column_names.each do |name|
      %th= name.camelize
    - @users.each do |user|
      %tr{"data-href" => "./users/#{user.name}"}
        %td= user.name
        %td= user.updated_at.in_time_zone('Tokyo').strftime("%Y/%m/%d %H:%M:%S")
        %td= user.feeds.count
        %td
          %i.fui-check-inverted.text-primary
            
          
